<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="libs/angular.js"></script>
    <script type="text/javascript" src="login.js"></script>
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body ng-app="login">
    <div class="container">
    <h1>Login</h1>
    <form ng-controller="TextAreaWithLimitCtrl">
        <div class="row">
            <span ng-class="{'text-warning':shouldWarn()}">Remaining:{{remaining()}}</span>
            <textarea ng-model="message">{{message}}</textarea>
        </div>
        <div>
            <button ng-click="send()" ng-disabled="!hasValidLength()">Send</button>
            <button ng-click="clear()">Clear</button>
        </div>
    </form>
</div>
</body>
</html>

